body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: babyblue;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    margin-bottom: 20px;
}

form {
    background-color: #f8c8dc;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="date"],
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: darkred;
}

#expenseList {
    margin-top: 20px;
}

.expense-item {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expense-item p {
    margin: 0;
}

.expense-item button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.expense-item button:hover {
    background-color: darkred;
}
