body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://en.idei.club/uploads/posts/2023-06/1686787518_en-idei-club-p-portfolio-background-dizain-krasivo-1.jpg');
}

.main-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.main-header__nav {
    display: flex;
    justify-content: center;
}

.main-header__item-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;

}

.main-header__item {
    margin: 0 10px;
}

.main-header__item a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.main-header__item a.active {
    background-color: #555;
    border-radius: 3px;
}

.centered {
    width: 60%;
    margin: auto;
    text-align: center;
}

.contact-form {
    width: 300px;
    margin: auto;
}

.form-control {
    margin-bottom: 10px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control input[type="tel"] {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#product-list {
    display: flex;
    justify-content: space-around; /* Adjust as per your preference */
    flex-wrap: wrap; /* Wrap products to next line when space is limited */
    gap: 20px; /* Adjust spacing between products */
}

.product {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 45%; /* Adjust width based on your design */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* Optional: Add rounded corners to images */
}

.cart-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 0;
    list-style-type: none;
}

.cart-item {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 45%; /* Same width as product items */
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}